@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        scroll-behavior: smooth;
    }

    body {
        @apply bg-slate-950 text-slate-200;
    }
}

::selection {
    @apply bg-primary-500/30 text-white;
}

.logo-font {
    font-family: 'Satisfy', cursive;
}